{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
        <div class="container">
        <h1 style="text-align:center;">Activity Summary</h1> 

        <div class ="block" id = "walking">
            <h1 class="title"> Walking</h1>
            <h1 class="value">{{walking}}</h1>
            <h2 class="unit"> Minutes</h2>
        </div>
        <br>
        <div class ="block" id = "sitting">
            <h1 class="title"> Sitting</h1>
            <h1 class="value">{{sitting}}</h1>
            <h2 class="unit"> Minutes</h2>
        </div>
        <br>
        <div class ="block" id = "running">
            <h1 class="title"> Running</h1>
            <h1 class="value">{{running}}</h1>
            <h2 class="unit"> Minutes</h2>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
        <hr class="featurette-divider">
       
{% endblock %}